*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Основной конейтенер для контента */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}

/* Header */

.header {
  width: 100%;
  padding: 22px 0 31px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__left-content {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.header__logo-text {
  color: #005FA3;
  font-size: 36px;
  line-height: 50px;
  font-family: Merriweather, serif;
}

.header__right-content {
  width: 100%;
  display: flex;
  max-width: 670px;
  flex-direction: column;
  justify-content: space-between;
}

.header__links {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
}


.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  color: #222222;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.contact {
  color: #000000;
  font-size: 13px;
  line-height: 17px;
  padding-left: 32px;
  text-decoration: none;
  position: relative;
  font-family: Lato, sans-serif;
}

.contact::before {
  content: '';
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
}

.contact._phone::before {
  background: url("img/phone.png") no-repeat center;
  width: 10px;
  height: 17px;
}

.contact._time::before {
  background: url("img/time.png") no-repeat center;
  width: 17px;
  height: 17px;
}

.contact._mail::before {
  background: url("img/mail.png") no-repeat center;
  width: 23px;
  height: 17px;
}

.contact._address::before {
  background: url("img/address.png") no-repeat center;
  width: 12px;
  height: 17px;
}

.contact._secondary {
  color: white;
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
  font-family: Lato, sans-serif;
}

.contact._secondary._phone::before {
  background: url("img/phone white.png") no-repeat center;
  width: 18px;
  height: 30px;
}

.contact._secondary._mail {
  position: relative;
  padding-left: 54px;
}

.contact._secondary._mail::before {
  background: url("img/mail2.png") no-repeat center;
  width: 40px;
  height: 30px;
}

.button {
  width: 270px;
  height: 60px;
  color: white;
  font-size: 18px;
  border: none;
  text-align: center;
  padding: 19px 18px;
  background: #005FA3;
  font-family: Lato, sans-serif;
}

/* slider */

.slider {
  background: url("img/Rectangle.jpg");
}

.slider__container {
  position: relative;
  height: 670px;
  padding-top: 170px;
}

.slider__title {
  color: white;
  font-size: 48px;
  margin: 0 0 80px;
  line-height: 66px;
  font-weight: bold;
  font-family: Merriweather, serif;
}


.slider__slider-pagination {
  position: absolute;
  left: 0;
  bottom: 114px;
}


.slider-pagination {
  display: flex;
}

.slider-pagination__item {
  width: 10px;
  height: 10px;
  bottom: 100px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.slider-pagination._secondary .slider-pagination__item {
  background: rgba(0, 95, 163, 0.4);
}

.slider-pagination__item._active {
  background: #ffffff;
}

.slider-pagination._secondary .slider-pagination__item._active {
  background: #005FA3;
}

.slider-pagination__item:not(:last-child) {
  margin-right: 40px;
}


.slider__slider-nav {
  right: 0;
  bottom: 114px;
  position: absolute;
}

.slider-nav {
  display: flex;
}

.slider-nav__item {
  width: 60px;
  height: 60px;
  background: rgba(225, 225, 225, 0.2);
}

.slider-nav__item::before {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-nav__item:hover {
  background: rgba(225, 225, 225, 0.4);
}

.slider-nav__item._left:before {
  background: url(img/back.png) no-repeat center;
}

.slider-nav__item._right:before {
  background: url(img/vector.png) no-repeat center;
}

.slider-nav._secondary .slider-nav__item {
  background: rgba(0, 95, 163, 0.2);;
}

.slider-nav._secondary .slider-nav__item:hover {
  background: #005FA3;
}


/* servises */

.servises {
  background: #EBEBEB;
}

.servises__container {
  height: 1242px;
  position: relative;
  padding-top: 140px;
}

.servises__description {
  color: #bdbdbd;
  font-size: 24px;
  margin: 0 0 40px;
  line-height: 33px;
  font-weight: 900;
  font-family: Lato, sans-serif;
}

.servises__title {
  color: #333333;
  font-size: 48px;
  margin: 0 0 102px;
  line-height: 69px;
  font-weight: 900;
  font-family: Merriweather, serif;
}

.our-servises {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-servises-item {
  width: 350px;
  height: 360px;
  position: relative;
  margin-bottom: 30px;
  background: url("img/rectangle.png") no-repeat center;
}

.our-servises-item:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.25s linear background-color;
}

.our-servises-item:hover:before {
  background: rgba(0, 95, 163, 0.65);
}

.name {
  bottom: 45px;
  left: 45px;
  width: 100%;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
  position: absolute;
  font-family: Lato, sans-serif;
}

/* about-us */

.about-us__container {
  height: 844px;
  position: relative;
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.about-us__description {
  color: #bdbdbd;
  font-size: 24px;
  margin: 0 0 40px;
  line-height: 33px;
  font-weight: 900;
  font-family: Lato, sans-serif;
}

.about-us__title {
  color: #333333;
  font-size: 48px;
  margin: 0 0 60px;
  line-height: 69px;
  font-weight: 900;
  font-family: Merriweather, serif;
}

.company-name {
  color: #005FA3;
}

.about-us__position {
  color: #000000;
  max-width: 443px;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 300;
  font-family: Lato, sans-serif;
}


.achievements {
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.achievements__item {
  width: 255px;
  height: 255px;
  background: #EBEBEB;
  margin: 0 30px 30px 0;
  padding: 30px 40px 40px;
  display: flex;
  flex-direction: column;
}

.achievements__item:last-child,
.achievements__item:nth-child(2n) {
  margin-right: 0;
}

.achievements__item:last-child,
.achievements__item:nth-last-child(2):not(:nth-child(2n)) {
  margin-bottom: 0;
}

.achievements__count {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 0.1em;
  width: 100%;
  margin-bottom: 20px;
}

.achievements__title {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: auto;
}

.achievements__link {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #005FA3;
}


.achievements__item:hover {
  color: white;
  background: #005FA3;
}

.achievements__item:hover .achievements__link {
  color: white;

}


/* our-clients */

.our-clients {
  background: #EBEBEB;

}

.our-clients__container {
  height: 630px;
  position: relative;
  padding-top: 100px;
}

.our-clients__description {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 900;
  line-height: 33px;
  font-family: Lato, sans-serif;
}

.our-clients__title {
  font-size: 48px;
  font-weight: 900;
  font-family: Merriweather, serif;
}

.our-clients__companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-clients__company {
  width: 255px;
  height: 130px;
  background: url("img/microsoft.png") no-repeat center;
}

.our-clients__slider-pagination {
  position: absolute;
  bottom: 100px;
  left: 0;
}

.our-clients__slider-nav {
  position: absolute;
  right: 0;
  bottom: 100px;
}


/* reviews */

.reviews__container {
  height: 900px;
  position: relative;
  padding-top: 140px;
}

.reviews__description {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 900;
  font-family: Lato, sans-serif;
}

.reviews__title {
  font-size: 48px;
  font-weight: 900;
  font-family: Merriweather, serif;
}

.comments__item {
  width: 1110px;
  height: 320px;
  background: #EBEBEB;
  margin: 0 30px 30px 0;
  padding: 45px 95px 62px;
  display: flex;
  flex-direction: column;


}

.comment__comments {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  font-family: Lato, sans-serif;
}

.user {
  display: flex;
}

.user__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comments__avatar {
  width: 80px;
  height: 80px;
  bottom: 45px;
  margin-right: 35px;
  border-radius: 100%;
}

.comments__name {
  color: black;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  font-family: Lato, sans-serif;
}

.comments__name-company {
  color: #4F4F4F;
  font-size: 14px;
  line-height: 19px;
  font-family: Lato, sans-serif;
}

.comments__slider-pagination {
  position: absolute;
  bottom: 100px;
  left: 0;
}

.comments__slider-nav {
  position: absolute;
  right: 0;
  bottom: 100px;
}

/* communication */

.communication {
  background: url("img/Rectangle.jpg");
}

.communication__container {
  display: flex;
  justify-content: space-between;
  padding-top: 122px;
  padding-bottom: 140px;
  position: relative;
}

.communication__content {
  width: calc(50% - 15px);
}

.communication__title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  margin: -4px 0 46px;
  font-family: Merriweather, serif;
}

.communication__description {
  display: block;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin: 0 0 80px;
  font-family: Lato, sans-serif;
}

.communication__links {
  display: flex;
  justify-content: space-between;
}

.communication__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.communication__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.communication__input {
  width: calc(50% - 15px) !important;
}

.communication__textarea {
  margin-bottom: 50px;
}

.label {
  width: 100%;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  font-family: Lato, sans-serif;
}

.input {
  width: 100%;
}

.input__wrapper {
  width: 100%;
  display: block;
}

.input__field {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: 300;
  line-height: 21px;
  padding: 15px 0 14px;
  background: transparent;
  border-bottom: 1px solid #fff;
  font-family: Lato, sans-serif;
}

.input__field::placeholder {
  color: #BDBDBD;
  font-size: 21px;
  font-weight: 300;
  line-height: 21px;
  font-family: Lato, serif;
}

.textarea {
  width: 100%;
}

.textarea__wrapper {
  width: 100%;
  display: block;
}

.textarea__field {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 120px;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 300;
  line-height: 21px;
  padding: 15px 0 14px;
  background: transparent;
  font-family: Lato, sans-serif;
  border-bottom: 1px solid #fff;
}

.textarea__field::placeholder {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  font-family: Lato, sans-serif;
}